@{

}

<form class="filteringForm" asp-action="GetDoctors" asp-controller="Doctor" method="get">

    <div class="filter-section filteringElement">
        <h4>Специальности:</h4>
        @foreach(string el in ViewBag.Specialties)
        {
           <label><input type="checkbox" name="specialties" value="@el">@el</label> 
        }
    </div>
    <div class="filter-section filteringElement">
        <h4>Рабочие дни:</h4>
        <label><input type="checkbox" name="daysOfWeek" value="Понеділок"> Понеділок</label>
        <label><input type="checkbox" name="daysOfWeek" value="Вівторок"> Вівторок</label>
        <label><input type="checkbox" name="daysOfWeek" value="Середа"> Середа</label>
        <label><input type="checkbox" name="daysOfWeek" value="Четвер"> Четвер</label>
        <label><input type="checkbox" name="daysOfWeek" value="П'ятниця"> П'ятниця</label>
        <label><input type="checkbox" name="daysOfWeek" value="Субота"> Субота</label>
        <label><input type="checkbox" name="daysOfWeek" value="Неділя"> Неділя</label>
    </div>
    <button type="submit" class="btn btn-primary">Применить фильтр</button>
</form>
