
<form class="addingForm" asp-action="InsertDoctor" asp-controller="Doctor" method="post">
    <div class="form-group">
        <label for="firstName">Имя:</label>
        <input type="text" class="form-control" id="firstName" name="FirstName">
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия:</label>
        <input type="text" class="form-control" id="lastName" name="LastName">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Номер телефона:</label>
        <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber">
    </div>
    <div class="form-group">
        <label for="speciality">Специальность:</label>
        <input type="text" class="form-control" id="speciality" name="Speciality">
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="form-group">
            <label for="lat">Широта:</label>
            <input type="text" class="form-control" id="lat" name="Latitude" required readonly>
        </div>
        <div class="form-group">
            <label for="lng">Долгота:</label>
            <input type="text" class="form-control" id="lng" name="Longitude" required readonly>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

