@model List<Patient>

<form class="updatingForm" asp-action="UpdatePatient" asp-controller="Patients" method="post">
     <div class="form-group">
        <label>Пацієнт:</label>
        <select class="form-control" name="patientId">
            <option value="">Выберите пацієнта</option>
            @foreach (var patient in Model)
            {
                <option value="@patient.PatientId.ToString()">@patient.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Имя:</label>
        <input type="text" class="form-control"  name="FirstName">
    </div>
    <div class="form-group">
        <label >Фамилия:</label>
        <input type="text" class="form-control"  name="LastName">
    </div>
    <div class="form-group">
        <label>Номер телефона:</label>
        <input type="text" class="form-control" name="PhoneNumber">
    </div>
    <div class="form-group">
        <label>Вік:</label>
        <input type="number" class="form-control" name="Age">
    </div>
    <button type="submit" class="btn btn-primary">Изменить</button>
</form>