html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.filteringForm {
    width: 200px;
    padding: 10px;
}

.filteringElement{
    display: flex;
    flex-direction: column
}

.mainDoctorBlock{
    width: 100%;
    padding: 10px;
    margin-left: 20px
}

.doctor-block {
    padding: 5px;
}

.doctor-info{
    display: flex
}

.toggle-schedule-btn {
    border: none;
    background: none;
    margin: 10px;
    padding: 0;
}

.adding-updating-forms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: end;
    margin-bottom: 15px;
}

.updatingForm {
    text-align: center;
    margin-left: 10px;
    width: 40%;
}

.addingForm {
    text-align: center;
    margin-right: 10px;
    width: 40%;
}